<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% if user_signed_in? %>
<h1>Welcome <%= current_user.email %>
</h1>
<% end %>

<h2>Listing of Restos</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum recusandae dicta architecto incidunt aspernatur ad maxime at qui, quae repudiandae rerum in. Non dignissimos incidunt ipsa magnam tempora, recusandae similique.</p>
